<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="conn" connectionString="Data Source=aws-dbc-sp-agl,1435;Initial Catalog=SPR_Intamac;Integrated Security=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="CS1" value="Data Source=aws-dbc-sp-agl,1435;Initial Catalog=SPR_Intamac;Integrated Security=True;"/>
    <add key="CS2" value="Data Source=aws-dbc-sp-agl,1435;Initial Catalog=Gencomms;Integrated Security=True;"/>
    <add key="CS3" value="Data Source=aws-dbc-sp-agl,1435;Initial Catalog=Gensystem;Integrated Security=True;"/>

    <add key="MasterResetPasswordURL" value="https://stg-fireangel-admin.intamac.com/Admin/PasswordReset.aspx?ID=" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MasterForgotPasswordURL" value="https://stg-fireangel-admin.intamac.com/ForgotDetails/ForgotPassword.aspx" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="XmppBackEnd" value="Ejabberd" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="OpenFireServerAddress" value="http://10.25.16.8:9096" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="OpenFireServerAddressOldFirmware" value="http://10.25.16.8:9096" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="OpenFireSecretKey" value="9Teph5EK" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EJabberdAPIKey" value="FWg4zBYWnvvm" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EJabberdXMPPDomain" value="xmpp.sprue.intamac.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EjabberdServerAddress" value="http://10.25.16.19:5280" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="devicekeysalt" value="9gvYKdkz" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>