<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <connectionStrings>
    <add name="conn" connectionString="Data Source=52.31.37.200;Initial Catalog=SPR_Intamac;Integrated Security=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="AppName" value="SPR AdminSite" />
    <add key="BusLogicCompanyType" value="28" />
    <add key="AdminAccessAccount" value="1" />
    <add key="CS1" value="Data Source=52.31.37.200;Initial Catalog=SPR_Intamac;integrated security=SSPI;"/>
    <add key="CS2" value="Data Source=52.31.37.200;Initial Catalog=GenComms;integrated security=SSPI;"/>
    <add key="CS3" value="Data Source=52.31.37.200;Initial Catalog=GenSystem;integrated security=SSPI;"/>
    <add key="IoTDALAttributesMappingsFile" value="~\bin\AttributeMapping\AttributeMappings.config" />
    <add key="IoTDALCommandMappingsFile" value="~\bin\AttributeMapping\CommandMapping.config" />
    <add key="RessApiEndPoint" value="http://localhost:10000/"/>
    <add key="AdminEmailFrom" value="administrator@SprueAdmin.com" />
    <add key="SupportRequestEmailDestination" value="support@wi-safeconnect.com" />
    <add key="ThirdLineSupportRequestEmailDestination" value="support@intamac.com" />
    <add key="MasterResetPasswordURL" value="http://localhost:61805/Admin/PasswordReset.aspx?ID="/>
    <add key="MasterForgotPasswordURL" value="http://localhost:61805/ForgotDetails/ForgotPassword.aspx"/>
    <add key="ShowApplicationError" value="true" />

    <add key="XmppBackEnd" value="EJabberd"/>
    <add key="OpenFireServerAddress" value="http://52.213.119.46:9096"/>
    <add key="OpenFireServerAddressOldFirmware" value="http://52.212.167.109:9096"/>
    <add key="OpenFireSecretKey" value="9Teph5EK"/>

    <add key="EJabberdAPIKey" value="FWg4zBYWnvvm"/>
    <add key="EJabberdXMPPDomain" value="use-xmpp-01"/>
    <add key="EjabberdServerAddress" value="http://52.214.72.118:5280"/>

    <add key="devicekeysalt" value="9gvYKdkz"/>

    <add key="AccountEnquiryDashboardRefresh" value="15000" />
    <add key="SystemTestDueDays" value="365" />
    <add key="CountryList" value="FRA,DEU,NLD,GBR,BEL" />
    <add key="PostcodeAnywhereKeyAdminAccountEdit" value="PC56-HD43-UW74-FB94" />
    <add key="PostcodeAnywhereKeyAccountEdit" value="EU87-BJ38-FC39-XM43" />
    <add key="PostcodeAnywhereKeyAccountEditProperty" value="XE98-KE55-BH82-GK11" />
    <add key="HubFirmwareWaitSeconds" value="400"/>

    <!-- 
        Script manager keys, used to configure scriptmanager (see Global.asax ApplicationStart)
    -->
    <add key="useScriptsCDN" value="false" />
    <add key="javascriptIDs" value="jquery,jqueryui,bootstrap,webForms,webUIValidation,postcodeanywhere" />
    <add key="javascriptTelerikIDs" value="jquery,jqueryui,bootstrap" />
    <add key="jqueryLOCAL" value="~/common/js/jquery-1.11.3.min.js" />
    <add key="jqueryLOCALDBG" value="~/common/js/jquery-1.11.3.js" />
    <add key="jqueryCDN" value="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" />
    <add key="jqueryCDNDBG" value="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js" />
    <add key="jqueryLOADED" value="window.jQuery" />
    <add key="jqueryuiLOCAL" value="~/common/js/jquery-ui-1.11.3.min.js" />
    <add key="jqueryuiLOCALDBG" value="~/common/js/jquery-ui-1.11.3.js" />
    <add key="jqueryuiCDN" value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js" />
    <add key="jqueryuiCDNDBG" value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.js" />
    <add key="jqueryuiLOADED" value="window.jQuery &amp;&amp; window.jQuery.ui" />
    <add key="bootstrapLOCAL" value="~/common/js/bootstrap-3.3.6.min.js" />
    <add key="bootstrapLOCALDBG" value="~/common/js/bootstrap-3.3.6.js" />
    <add key="bootstrapCDN" value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" />
    <add key="bootstrapCDNDBG" value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js" />
    <add key="bootstrapLOADED" value="$.fn.modal" />
    <add key="postcodeanywhereLOCAL" value="~/common/js/address-3.40.min.js" />
    <add key="postcodeanywhereLOCALDBG" value="~/common/js/address-3.40.js" />
    <add key="postcodeanywhereCDN" value="http://services.postcodeanywhere.co.uk/js/address-3.40.min.js" />
    <add key="postcodeanywhereCDNDBG" value="http://services.postcodeanywhere.co.uk/js/address-3.40.js" />
    <add key="postcodeanywhereLOADED" value="window.pca" />
    <add key="webFormsNAME" value="WebForms.js" />
    <add key="webFormsASSMBLY" value="System.Web" />
    <add key="webUIValidationNAME" value="WebUIValidation.js" />
    <add key="webUIValidationASSMBLY" value="System.Web" />
    <add key="ContactsMax" value="5" />
    <add key="GatewayResetMinimumPercentBeforeOnline" value="15" />
    <add key="GatewayResetTimeInSeconds" value="300" />
    <add key="Telerik.Web.UI.StyleSheetFolders" value="~/common/css/global/" />
    <add key="ResourceRoot" value="Resources/" />
    <add key="MultiLanguages" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors defaultRedirect="~/ErrorPage.aspx" mode="RemoteOnly" />
    <globalization uiCulture="en-GB" culture="en-GB" resourceProviderFactoryType="SprueAdmin.UpdatableResXResourceProviderFactory" />
    <compilation debug="true" strict="true" explicit="true" targetFramework="4.6.2">
      <assemblies>
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <machineKey validationKey="86E797943BD0C9EF93A75DD11651E457BF8F8A3073F60F66F56BFAE309117C60E4EA6991DF7E5C7D9A407CA5EE4751A7E8FDC4AA2EAAEE80E2C25615C7A2BCDB" decryptionKey="D35F41377CAD2F3E9C8F96F178CDCD37A45656D7F81005A6" validation="SHA1" />
    <sessionState timeout="99999" />
    <authentication mode="Forms">
      <forms loginUrl="adminlogin.aspx" timeout="99999">
        <!-- Set the Authentication timeout to be less than the Session timeout This way you should be logged out before your session expires-->
      </forms>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <roleManager enabled="true" defaultProvider="CustomizedRoleProvider">
      <providers>
        <add connectionStringName="conn" applicationName="SPR" name="CustomizedRoleProvider" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
    <membership defaultProvider="CustomizedProvider" hashAlgorithmType="SHA512">
      <providers>
        <clear />
        <add name="CustomizedProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="Conn" applicationName="SPR" requiresUniqueEmail="false" requiresQuestionAndAnswer="false" maxInvalidPasswordAttempts="3" passwordAttemptWindow="10" passwordFormat="Hashed" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="6" enablePasswordRetrieval="false" passwordStrengthRegularExpression="^[a-zA-Z0-9]{6,20}$" />
        <add name="CustomizedProviderNoSecurityQ" type="System.Web.Security.SqlMembershipProvider" connectionStringName="conn" applicationName="SPR" minRequiredPasswordLength="6" requiresUniqueEmail="false" minRequiredNonalphanumericCharacters="0" requiresQuestionAndAnswer="false" maxInvalidPasswordAttempts="3" passwordAttemptWindow="10" passwordFormat="Hashed" enablePasswordRetrieval="false" />
      </providers>
    </membership>
    <pages enableViewStateMac="true" viewStateEncryptionMode="Always" enableEventValidation="false" clientIDMode="AutoID" controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
  </system.web>
  <location path="WebResource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Telerik.Web.UI.WebResource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ScriptResource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Admin/LoginDetail.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Admin/PasswordReset.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ForgotDetails/ForgotPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="TermAndConditions/TermAndConditions.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ForgotDetails/ForgotUsername.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="common/css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="common/js">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="common/img">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ErrorPage.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="iisstart.htm" />
        <remove value="Default.htm" />
        <remove value="Default.asp" />
        <remove value="index.htm" />
        <remove value="index.html" />
        <remove value="default.aspx" />
        <add value="AdminLogin.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>