<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="conn" connectionString="Data Source=52.31.37.200;Initial Catalog=SPR_Intamac;Integrated Security=True;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="CS1" value="Data Source=52.31.37.200;Initial Catalog=SPR_Intamac;integrated security=SSPI;" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CS2" value="Data Source=52.31.37.200;Initial Catalog=GenComms;integrated security=SSPI;" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CS3" value="Data Source=52.31.37.200;Initial Catalog=GenSystem;integrated security=SSPI;" xdt:Transform="Replace" xdt:Locator="Match(key)" />

      <add key="RessApiEndPoint" value="http://localhost:10000/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
      
      <add key="MasterResetPasswordURL" value="http://localhost:61805/Admin/PasswordReset.aspx?ID=" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MasterForgotPasswordURL" value="http://localhost:61805/ForgotDetails/ForgotPassword.aspx" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="XmppBackEnd" value="EJabberd" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="OpenFireServerAddress" value="http://52.213.119.46:9096" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="OpenFireServerAddressOldFirmware" value="http://52.212.167.109:9096" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="OpenFireSecretKey" value="9Teph5EK" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EJabberdAPIKey" value="FWg4zBYWnvvm" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EJabberdXMPPDomain" value="use-xmpp-01" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EjabberdServerAddress" value="http://52.214.72.118:5280" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="devicekeysalt" value="9gvYKdkz" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>